@use "../global" as *;

.u-overlay {
  // position: relative;
  // inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.1;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}
