@use "../global" as *;

/*------------------------
top > about
----------------------------*/
.top-about-inner {
  width: 100%;
}

.top-about-name {
  span {
    display: block;
  }
}

.top-about-name-en {
  font-size: var(--font-title);
  font-family: var(--font-family-accent--en);
  @include mq() {
    font-size: var(--font-title--pc);
  }
}

.top-about-name-ja {
  font-family: var(--font-family-accent);
  font-size: var(--font-subtitle);
  @include mq() {
    font-size: var(--font-subtitle--pc);
  }
}
.top-about-desc {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq() {
    flex-direction: row;
  }
}

.top-about-desc-text {
  letter-spacing: 0.2em;
  text-align: justify;
  @include mq() {
    width: 60%;
    font-size: 20px;
    line-height: 2;
    margin-right: 60px;
  }
}

.top-about-logo {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
  }
  @include mq() {
    width: 40%;
    height: auto;
    flex-shrink: 0;
  }
}

.top-about-button {
  width: fit-content;
  margin: 0 auto;
}
/*------------------------
top > programming
----------------------------*/
// .top-programming {
// }

.top-programming-title {
  font-family: var(--font-family-accent--en);
  font-size: var(--font-title);
  @include mq() {
    font-size: var(--font-title--pc);
  }
}

.top-programming-subtitle {
  font-family: var(--font-family-accent);
  font-size: var(--font-subtitle);
  @include mq() {
    font-size: var(--font-subtitle--pc);
  }
}
.top-programming-inner {
  @include mq() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.top-programming-container {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  // 要素の拡大と子要素の透明度を変化
  &:hover {
    transform: scale(1.1);
    .top-programming-header {
      opacity: 1;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  @include mq() {
    width: 90%;
    height: 300px;
    margin-inline: auto;
    a {
      border-radius: 15px;
    }
  }
}

.top-programming-header {
  background-color: var(--color-bg-sub);
  opacity: 0;
  padding: 10px;
  font-weight: var(--font-weight-medium);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease;
  @include mq() {
    padding: 20px;
    font-size: 24px;
  }
}

.top-programming-thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.--works {
    background-image: url("/img/top/thumbnail-works.png");
  }
  &.--study {
    background-image: url("/img/programing/main-visual--programing.png");
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    opacity: 1;
  }
}

.top-programming-button {
  background-color: var(--color-bg);
  width: 100px;
  border-radius: 15px 0 0 0;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  @include mq() {
    width: 120px;
    height: 40px;
    font-size: 24px;
  }
}
