@use "../global" as *;

.l-footer {
  width: 100%;
}
.l-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq() {
    flex-direction: row;
    padding: 0 40px;
  }
}
.l-footer-logo {
  width: 150px;
  height: 150px;
  img {
    width: 100%;
    height: 100%;
  }
  @include mq() {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
  }
}

.l-footer-nav {
  width: 100%;
  padding: 0 50px;
  margin-top: 0;
  @include mq() {
    padding: 0;
  }
}

.l-footer-nav-items {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  //   576px以上での表示
  @include mq(sm) {
    font-size: 18px;
  }
  //   768px以上での表示
  @include mq(md) {
    width: 100%;
    font-size: 24px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.l-footer-nav-item {
  @include mq() {
    text-align: center;
  }
}

.l-footer-contact-items {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.l-footer-contact-item {
  img{
    width: 30px;
    height: 30px;
  }
  @include mq() {
    img{
      width: 40px;
      height: 40px;
    }
  }
}

.l-footer-copy-right {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 8px;
  text-align: center;
  //   576px以上での表示
  @include mq(sm) {
    font-size: 10px;
  }
  @include mq() {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
  }
}
