.l-header {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.l-header-logo {
  width: 60px;
  height: 60px;
  z-index: 8000;
  a {
    display: block;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.l-header-hamburger-menu {
  border: 1px solid var(--color-font);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 9999;

  span {
    width: 30px;
    height: 1px;
    background-color: var(--color-font);
    display: inline-block;
    position: absolute;
    left: 10px;
    transition: all 0.3s ease-in-out;
    &:nth-of-type(1) {
      top: 14px;
    }
    &:nth-of-type(2) {
      top: 24px;
    }
    &:nth-of-type(3) {
      top: 34px;
    }
  }
  /*------------------------
    ハンバーガーメニュー アクティブ時
  ----------------------------*/
  &.is-active {
    span {
      &:nth-of-type(1) {
        transform: rotate(135deg);
        top: 24px;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(-135deg);
        top: 24px;
      }
    }
  }
}
$shift-nav-width: -60vw;


.l-header-nav {
  width: 60vw;
  position: fixed;
  top: 0;
  right: $shift-nav-width;
  height: 100vh;
  background-color: var(--color-bg-sub);
  transition: right 0.3s ease-in-out;
  z-index: 9000;
  transition: all 0.3s ease-in-out;
  &.is-active {
    right: 0;
  }
}

.l-header-nav-items {
  margin-top: 80px;
  width: fit-content;
  margin-inline: auto;
}
.l-header-nav-item {
  font-size: 18px;
  margin-top: 60px;
  position: relative;
  a {
    display: block;
    padding-right: 20px;
    border-bottom: 1px solid var(--color-font);
    &::before {
      content: "";
      width: 5px;
      height: 1px;
      background-color: var(--color-font);
      transform: translateX(-50%) rotate(45deg);
      position: absolute;
      right: -10px;
      top: calc(50% - 2px);
    }
    &::after {
      content: "";
      width: 5px;
      height: 1px;
      background-color: var(--color-font);
      transform: translateX(-50%) rotate(-45deg);
      position: absolute;
      right: -10px;
      top: calc(50% + 2px);
    }
  }
}
.l-header-bgpannel {
  inset: 0;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 8500;
  &.is-active {
    visibility: visible;
    opacity: 1;
    background-color: var(--color-font);
  }
}
