@use "sass:map";
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@mixin mq($breakpoint: md) {
  @media screen and (min-width:#{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}
