:root {
  /* font-family */
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-accent: "Noto Serif JP", sans-serif;
  --font-family-base--en: "Roboto Slab", sans-serif;
  --font-family-accent--en: "Roboto Serif", serif;
  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* font-size */
  --font-title:28px;
  --font-title--pc:42px;
  --font-subtitle:16px;
  --font-subtitle--pc:24px;

}