@use "../global" as *;

.c-button {
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-font);
    width: 150%;
    height: 1px;
    bottom: 0px;
    left: -20%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: var(--color-font);
    right: calc(-30%);
    bottom: 4px;
    transform: rotate(45deg) translateY(-100%);
  }
  &.--white {
    color: var(--color-white);
    &::before {
      background-color: var(--color-white);
    }
    &::after {
      background-color: var(--color-white);
    }
  }
}
